.list-group-item:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    transition: background 0.5s ease-in-out;
}
.list-group-item.active:hover {
    background-color: #006bff;
}
.myModal {
    width: 75%;
    max-width: none;
}